# IDE
.idea
.vscode
.jscpd

# Ignore Mac system files
.DS_store
Thumbs.db

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
env/**/.env
.env
# Build
dist/**/*

# Newman folder
*/newman
/newman
newman/*

# Assets folder
assets/*
!assets/logo-slack.png


# Package lock
package-lock.json

# Add dist of the libs
!libs/hotel-booking/dist/**/*
!libs/hotel-content/dist/**/*
!libs/marketo-hotels/dist/**/*

# Coverage
coverage